*{

  font-family: 'Inconsolata', monospace;
  
}


/*BACKGROUND IMG*/

body{
	
 
  background-image: url(background-1.jpg);
  background-size: cover;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  


}





/*HOVER*/

img:hover {
  transform: scale(1.1);
}



/*LOGO*/

#logo{
	width: 8rem;
	height: 8rem;

}


/*HEADER*/

div.header{

	display: block;
	text-align: center;
	margin-bottom: .5rem;
	
}


/*SOCIAL MEDIA ICONS*/

ul.nav {
	
	display: flex;
	justify-content: center;
	list-style-type: none;
	
  
}


li.navlist{
	padding: 10px;
	margin-bottom: 8rem;


}

/*ABOUT SECTION*/

div.container{
	display: flex;
	position: relative;
	margin: auto;
  	width: 50%;
  	justify-content: center;


}


#Portrait{
	border: 3px solid #e78200;
	border-radius: 1.2rem;
	margin-left: 1.5rem;

}

#myself{
	text-align: left;
	padding-top: 2rem;
	padding-left: 2rem;

}


/*EDU SECTION*/

div#Edudiv{
	display: block;
	text-align: center;

}

/*PROF SECTION*/


div#Profdiv{
	display: block;
	text-align: center;


}


div#Persondiv{
	display: block;
	text-align: center;


}


div#Certdiv{
	display: block;
	text-align: center;


}




.grid-container {

  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto auto auto;
  border: 3px solid #e78200;
  border-radius: 1.2rem;
  padding: 10px;
  
}


